.body_edit {
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  margin: 0;
  height: 100%;
}
@media (max-width: 768px){
  .body_edit {
    height: auto;
}
}

.title_log{
  display: block;
  text-align: center;
  clear: right;
}

.name{
  text-align: center;
  font-size: 18px;
}

.avatar {
  display: block;
  margin: 0px auto 10px auto;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 3px solid white;
}

.edit_avatar_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  padding-top: 10px;
}

.block_edit{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  max-width: 1200px;
  height: auto;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
}

.block1{
  min-width: 300px;
  height: 200px;
}

.block2{
  min-width: 400px;
  height: 100px;
}

.title_edit{
  position:relative;
}

.back{
  display: block;
  float: right;
  margin-right: 10px;
}

.back_log{
  display: block;
  float: right;
  padding: 5px;
  clear: left;
}

.rules{
  display: block;
  color:#4f4f4F;
  text-align: center;
  font-weight: 600;
  padding: 10px;

}
