.body_edit {
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  overflow:scroll;
  height: 100%;
}

.block_principal{
  margin-top: 60px;
  max-width: 1400px;
  min-height: 600px;
  background-color: white;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

.title_log{
  text-align: center;
}

.name{
  text-align: center;
  font-size: 18px;
}

.avatar {
  display: block;
  margin: -50px auto 10px auto;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 3px solid white;
}

.edit_avatar_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  border-radius: 25px;
}

.block_edit{
  display: flex;
  flex-wrap: nowrap;
  justify-content:space-between;
  max-width: 1200px;
  height: 350px;
  border: 1px solid black;
  border-radius: 10px;
  margin: auto;
}

.block1{
  width: 300px;
  height: 200px;
}

.block2{
  min-width: 400px;
  height: 100px;
}

.title_edit{
  position:relative;
}

.back{
  display: block;
  margin-left: 10px;
}
