// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/bebasneue-webfont.woff') format('woff'),
        url('../fonts/bebasneue-webfont.ttf') format('truetype'),
        url('../fonts/bebasneue-webfont.webfontABYyK1dn') format('svg');
    font-weight: normal;
    font-style: normal;
}


header, #download, #contact, {
  background: #2DAF94; /* fallback for old browsers */
}

.btn-outline{
color: white; /* fallback for old browsers */
border-color: #4f4f4F;
background: #4f4f4F;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {

color: white;
background: #4f4f4F;
border-color:  white;

	}

.img_avatar{
  margin-top: 4px;
  border-radius: 40px;
  width: 40px;
  height: 40px;
}
@media (max-width: 768px){
img.page-scroll{
  margin-left: 15px;
}

img.page-scroll.navbar-header{
  margin-left:-10px;
  }

  .header,.header-content {
    text-align: center;
    padding-top: 0px;
    position: relative;
    margin-top: -140px;
  }
}

.navbar-default .nav > li > a{
  color: #4f4f4f;
  &:hover {
					color: #33acb7;
				}
}

.icon-coeur-_full:before {
  content: "\e900";
}

.navbar-default .navbar-header .navbar-brand {
color: #2DAF94;
font-family:"BebasNeueRegular";
font-size: 25px;
margin-left: auto;
&:hover {
        color: #33acb7;

      }
}

.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
  }

  .img-responsive_hand{
    display:block;
    max-width: 100%;
    height: auto;
    margin-top: 50px;
  }

  .element{
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    text-align: center;
    }
/////////page_download/////
.img_download{
  border-radius: 8px;
}

@media (max-width: 438px){
  .img_download{
      margin-top: 10px;
  }
}
//////////////////
/////////nav_bar///////////
@media (min-width: 768px){
  .navbar-default .navbar-header .navbar-brand {
      color: #2DAF94;
      &:hover {
    					color: #33acb7;

    				}
    }
    .navbar-default {
      background: #FAFAFA; /* fallback for old browsers */
        border-color: transparent;
      }

    section.features .section-heading {
    margin-bottom: 0px;
}
    .section-heading {
   margin-bottom: 0px;
}

//////Page_header////
.header_title{
  display: block;
  margin: 510px 0px 0px 0px;
  text-align: center;
}

.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 270px;
  }

  .img-responsive_hand{
    display:block;
    max-width: 100%;
    height: auto;
    position: absolute;
    margin-top: 490px;

  }
  .header,.header-content {
    text-align: center;
    padding: none;
    position: relative;
}


/////////page_features/////
.text_features{
  display: block;
  max-width: 450px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }

.principal{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 15px;
  }

.element{
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  text-align: center;
  }

////Page_contact////
.principal_contact{
  display: flex;
  min-width: 768;
  min-height: 376px;
  margin-left: auto;
  margin-right: auto;
  }

.About{
  max-width: 480px;
  max-height: 249px;
  margin-left: auto;
  margin-right: 40px;
  margin-top: 73px;
  border-radius: 3px;
  text-align: center;

}

.friends{
  max-width: 480px;
  max-height: 249px;
  margin-left: auto;
  margin-right: 40px;
  margin-top: 73px;
  border-radius: 3px;
  text-align: center;
}

.section_contact{
  padding: 0px;
}


////Page_hopen_box///
.principal_hopen_box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 768px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
}



.title_hopen{
  text-align: center;
}

.element_box{
  width: 220px;
        height: 262px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;
        border-radius: 3px;
        text-align: center;
}

.element_box_hopen{
        width: 520px;
        height: 262px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;

        border-radius: 3px;
}

.key{
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  height: 260px;
}

        .button{
          width: 253px;
          height: 55px;
          margin-left: auto;
          margin-right: auto;
          }


}

@media (max-width: 1200px){
.element_box_hopen{
  width: 320px;
}
}
@media (max-width: 826px){
  //////////Page_hopen_box///////
  .title_hopen{
    text-align: center;
  }
  .principal_hopen_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 658px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .element_box_hopen{
    max-width: 520px;
    max-height: 262px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    border-radius: 3px;
  }

  .button{
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    }
////////////////////////
////Page_contact////
  .About{
    text-align: center;
}

.friends{
  text-align: center;
}
//////

}

.text_friends_title{
  color: #fff;
}
.text-muted_frineds{
color:#fff;
}

+@media (max-width: 768px){
 +.navbar-default .navbar-header .navbar-brand {
 +  margin-left: 40px;
 +  margin-top: -50px;
 +}
 +}
