<!DOCTYPE html>
<html>
  <head>
    <title>Hopen</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
    // activer les liens internes, précédé par un #
    $('a[href^="#"]').click(function() {
    // prendre le nom du lien, substr enleve le premier caractere qui est #
    var ou = $(this).attr("href").substr(1);
    // trouver le tag <a name=""> correspondant
    var saut = $("a[name='"+ ou +"']");
    // aller jusqu'à cet élément
    $('html,body').animate({scrollTop: $(saut).offset().top}, 1000);
    return false;
    });
    });
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
